<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendor.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-dark">

    @RenderBody()

    <script src="~/vendor.min.js" asp-append-version="true" ></script>
    <script src="~/js/camera.js" asp-append-version="true" ></script>
    <script src="~/js/site.js" asp-append-version="true" ></script>
</body>
</html>