<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendor.min.css" />
    <style>
        .container-fluid > #camera-feed {
            height: 100vh;
            display: block;
            margin: auto;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        h1 {
            font-size: 4.5rem;
            color: white;
            text-align: center;
        }

        .collapseSending h1 {
            color: black;
        }

        .btn.btn-main {
            padding: 0.5rem 2rem;
            font-size: 6.25rem;
            line-height: 1.5;
            border-radius: 9rem;
        }

        .modal-content {
            border: none;
        }

        .take-photo {
            transition: all 0.5s;
        }

            .take-photo:hover, .take-photo:active, .take-photo:focus {
                font-size: 8rem;
                transition: all 0.5s;
            }

            .take-photo::before {
                content: '📷';
            }

        .complete-btn {
            padding: 1.25rem 0;
            font-size: 6em;
            border-radius: 2rem;
        }

        .email-action-btn {
            padding: 1.25rem 0;
            font-size: 3em;
            border-radius: 2rem;
        }

        .take-photo:hover::before, .take-photo:active::before, .take-photo:focus::before {
            content: '📸';
        }

        .btn-email::before {
            content: '📧';
        }

        .btn-print::before {
            content: '🖨';
        }

        .btn-email-print:before {
            content: '📧 🖨';
        }

        .btn-start-over:before {
            content: '👉';
        }

        #btn-start-over {
            position: absolute;
            z-index: 999999;
            top: 0;
            right: 0;
            margin: 2rem;
            padding: 0 2rem 1rem 2rem;
            font-size: 6em;
            transition: all 0.5s;
            transform: translateY(-4em);
        }

            #btn-start-over.slide-down {
                transform: translateY(0);
            }

            #btn-start-over:hover {
                font-size: 6.5em;
                transition: all 0.5s;
            }

            #screenshot > img {
                position: absolute;
                max-height: 100vh;
                display: block;
                width: 100%;
                object-fit: contain;
                margin: auto;
                bottom: 0;
                top: 0;
            }

        .hidden {
            display: none;
        }

        #countdown-container > h1.slide-down {
            transition: all 0.5s ease;
            transform: translateY(3em);
        }

        #countdown-container > h1.slide-number-down {
            transition: all 0.5s ease;
            transform: translateY(0.25em);
            opacity: 0.5;
        }

        .img-fit {
            width: 90%;
        }

        .modal-backdrop.show {
            background: none;
        }

        .btn-hint-text {
            font-size: 0.3em;
            display: block;
        }

        .take-photo .btn-hint-text {
            font-size: 1.25rem;
            margin-top: -25px;
            padding-bottom: 25px;
        }

        #countdown-container > #countdown {
            height: 100vh;
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        #flash-container {
            height: 100vh;
            background-color: white;
            opacity: 1;
            transition: all 0.25s ease;
            position: relative;
        }

            #flash-container.hidden {
                opacity: 0;
                display: block;
                transition: all 0.25s ease;
            }

        #countdown-container > h1 {
            width: 100%;
            position: absolute;
            transform: translateY(-4em);
            transition: all 0.5s ease;
        }

        #countdown-container > #countdown.cd1 {
            background-image: url(/images/1-graphic.png);
            background-size: 500px;
            background-repeat: no-repeat;
            background-position: center;
        }

        #countdown-container > #countdown.cd2 {
            background-image: url(/images/2-graphic.png);
            background-size: 500px;
            background-repeat: no-repeat;
            background-position: center;
        }

        #countdown-container > #countdown.cd3 {
            background-image: url(/images/3-graphic.png);
            background-size: 500px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .countdown-number-text {
            font-size: 35rem;
        }

        .form-control-xl {
            height: calc(2.5em + 1rem + 2px);
            padding: .5rem 1rem;
            font-size: 2.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }
    </style>
</head>
<body class="bg-dark">

    @RenderBody()

    <script src="~/vendor.min.js"></script>

    <script>
        const videoElement = document.querySelector('video');
        const videoSelect = document.querySelector('select#videoSource');
        function init() {
            $('#start-action-container').modal('show');

            $('#collapseContainer').collapse({
                toggle: false
            });

            $(window).on('keypress', function (event) {
                if (event.which === 32) {
                    $('#btn-start').focus();
                    start();
                }
            });

            $('#btn-start').on('click', function (event) {
                if (event.which === 1) {
                    start();
                }
            });
            navigator.mediaDevices.enumerateDevices()
                .then(gotDevices).then(getStream).catch(handleError);

            videoSelect.onchange = getStream;
        }

        function start() {
            setTimeout(function () {
                $('#start-action-container').modal('hide');
                $('#take-photo-action-container').modal('show');
                $(window).off('keypress');
                $('#btn-start-over').removeClass('hidden');
                $('#countdown-container')
                    .removeClass('hidden')
                    .append('<h1>Get Ready!</h1>');
                setTimeout(function () {
                    $('#countdown-container > h1').addClass('slide-down');
                    $('#btn-start-over').addClass('slide-down');
                    takePhotoCountdown(1);
                }, 1000);
            }, 1000);
        }

        function takePhotoCountdown(photoNumber) {
            var numberText
            if (photoNumber === 1) {
                numberText = 'first';
            }
            else if (photoNumber === 2) {
                numberText = 'second';
            }
            else if (photoNumber === 3) {
                numberText = 'third';
            }
            else {
                return;
            }
            setTimeout(function () {
                $('#countdown-container > h1')
                    .removeClass('slide-down');
                setTimeout(function () {
                    $('#countdown-container > h1')
                        .text('Taking ' + numberText + ' photo in...')
                        .addClass('slide-down');
                    setTimeout(function () {
                        $('#countdown-container > h1')
                            .removeClass('slide-down');
                        setTimeout(function () {
                            $('#countdown-container > h1')
                                .text('3')
                                .addClass('countdown-number-text')
                                .addClass('slide-number-down');
                            setTimeout(function () {
                                $('#countdown-container > h1')
                                    .text('2');
                                setTimeout(function () {
                                    $('#countdown-container > h1')
                                        .text('1');
                                    setTimeout(function () {
                                        $('#flash-container').removeClass('hidden');
                                    }, 1000);
                                    setTimeout(function () {
                                        $('#countdown-container > h1')
                                            .removeClass('countdown-number-text')
                                            .removeClass('slide-number-down');

                                        takePhoto(photoNumber);
                                    }, 2000);
                                }, 1500);
                            }, 1500);
                        }, 1500);
                    }, 2000);
                }, 500);
            }, 2500);
        }

        $('#completeForm').on('submit', function (e) {
            e.preventDefault();
        })

        function update(stream) {
            document.querySelector('video').src = stream.url;
        }

        function gotDevices(deviceInfos) {
            for (let i = 0; i !== deviceInfos.length; ++i) {
                const deviceInfo = deviceInfos[i];
                const option = document.createElement('option');
                option.value = deviceInfo.deviceId;

                if (deviceInfo.kind === 'videoinput') {
                    option.text = deviceInfo.label || 'camera ' +
                        (videoSelect.length + 1);
                    videoSelect.appendChild(option);
                } else {
                    console.log('Found another kind of device: ', deviceInfo);
                }
            }
        }

        function getStream() {
            if (window.stream) {
                window.stream.getTracks().forEach(function (track) {
                    track.stop();
                });
            }

            const constraints = {
                video: {
                    deviceId: { exact: videoSelect.value }
                }
            };

            navigator.mediaDevices.getUserMedia(constraints).
                then(gotStream).catch(handleError);
        }

        function gotStream(stream) {
            window.stream = stream; // make stream available to console
            videoElement.srcObject = stream;
        }

        function handleError(error) {
            console.error('Error: ', error);
        }

        const screenshotButton = $('#screenshot-button')[0];
        const img = $('#screenshot img')[0];

        const canvas = document.createElement('canvas');


        function takePhoto(photoNumber) {
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            canvas.getContext('2d').drawImage(videoElement, 0, 0);
            var image = canvas.toDataURL("image/png");
            img.src = image;
            $('#screenshot').removeClass('hidden');
            $('#flash-container').addClass('hidden');
            if (photoNumber === 1) {
                $('#p1')[0].src = image;
                setTimeout(function () {
                    $('#screenshot').addClass('hidden');
                    takePhotoCountdown(photoNumber += 1);
                }, 5000);
            }
            else if (photoNumber === 2) {
                $('#p2')[0].src = image;
                setTimeout(function () {
                    $('#screenshot').addClass('hidden');
                    takePhotoCountdown(photoNumber += 1);
                }, 5000);
            }
            else if (photoNumber === 3) {
                $('#p3')[0].src = image;
                submitPhotos();
            }
        }

        function submitPhotos() {
            var p1 = $('#p1')[0].src.replace('data:image/png;base64,', '');
            var p2 = $('#p2')[0].src.replace('data:image/png;base64,', '');
            var p3 = $('#p3')[0].src.replace('data:image/png;base64,', '');

            $.ajax({
                type: 'POST',
                url: "?handler=SubmitPhotos",
                data: JSON.stringify([p1, p2, p3]),
                contentType: 'application/json',
                success: function (response) {
                    setTimeout(function () {
                        $('#screenshot').addClass('hidden');
                        $('#exampleModalCenter').modal('show');
                    }, 5000)

                },
                error: function (response) {
                    alert('An error occured! Retake photo...');
                }
            });
        }

        function emailOptionSelected() {
            $('#email-input').prop('required', true);
        }

        function setEmailButtonDetails(option) {
            if (option === 1) {
                $('#email-input').val('');
                $('#email-collapse-complete').attr('onclick', 'complete(1)').text('📧 Send');
            }
            else if (option === 3) {
                $('#email-input').val('');
                $('#email-collapse-complete').attr('onclick', 'complete(3)').text('📧 Send & 🖨 Print');
            }
            $('.collapseEmail').collapse("toggle");
        }

        function complete(option) {
            if (option === 1) {
                $('#collapseSendingMessage').text('📧 Sending Email...');
                $('#collapseEmail').removeClass('show');
                $('.collapseSending').collapse('show');
            }
            if (option === 2) {
                $('#collapseSendingMessage').text('🖨 Printing Photo...');
                $('#collapseEmail').removeClass('show');
                $('.collapseSending').collapse('show');
            }
            if (option === 3) {
                $('#collapseSendingMessage').text('🖨 Printing & 📧 Sending Email...');
                $('#collapseEmail').removeClass('show');
                $('.collapseSending').collapse('show');
            }
            $.ajax({
                type: 'POST',
                url: "?handler=Complete",
                data: JSON.stringify({ "option": option, "emailAddress": $('#email-input').val() }),
                contentType: 'application/json',
                success: function (response) {
                    if (option === 1 || option === 3) {
                        $('#collapseSendingMessage').text('📧 Email Sent!!!');
                    }
                    setTimeout(function () {
                        window.location.reload();
                    },5000);
                },
                error: function (response) {
                    alert('Error... :(');
                }
            });
        }

        function handleSuccess(stream) {
            screenshotButton.disabled = false;
            videoElement.srcObject = stream;
        }

        init();
    </script>
</body>
</html>