<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendor.min.css" />
    <style>
        .container-fluid > #camera-feed {
            height: 100vh;
            display: block;
            margin: auto;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        h1 {
            font-size: 4.5rem;
            color: white;
            text-align:center;
        }

        .btn.btn-main {
            padding: 0.5rem 2rem;
            font-size: 6.25rem;
            line-height: 1.5;
            border-radius: 9rem;
        }

        .modal-content{
            border: none;
        }

        .take-photo {
            transition: all 0.5s;
        }

        .take-photo:hover, .take-photo:active, .take-photo:focus {
            font-size: 8rem;
            transition: all 0.5s;
        }

        .take-photo::before {
            content: '📷';
        }

        .take-photo:hover::before, .take-photo:active::before, .take-photo:focus::before {
            content: '📸';
        }


        #screenshot > img {
            position: absolute;
            max-height: 100vh;
            display: block;
            width: 100%;
            object-fit: contain;
            margin: auto;
            bottom: 0;
            top: 0;
        }

        .hidden {
            display: none;
        }

        #countdown-container > h1.slide-down {
            transition: all 0.5s ease;
            transform: translateY(3em);
        }

        #countdown-container > h1.slide-number-down {
            transition: all 0.5s ease;
            transform: translateY(0.25em);
            opacity: 0.3;
        }

        .modal-backdrop.show {
            background: none;
        }

        .btn-hint-text{
            font-size: 1.25rem;
            margin-top:-25px;
            padding-bottom:25px;
            display: block;
        }

        #countdown-container > #countdown {
            height: 100vh;
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

        }

        #flash-container{
            height: 100vh;
            background-color: white;
            opacity: 1;
            transition: all 0.25s ease;
            position: relative;
        }
        #flash-container.hidden {
            opacity: 0;
            display: block;
            transition: all 0.25s ease;
        }

        #countdown-container > h1 {
            width: 100%;
            position: absolute;
            transform: translateY(-4em);
            transition: all 0.5s ease;
        }

            #countdown-container > #countdown.cd1 {
                background-image: url(/images/1-graphic.png);
                background-size: 500px;
                background-repeat: no-repeat;
                background-position: center;
            }

            #countdown-container > #countdown.cd2 {
                background-image: url(/images/2-graphic.png);
                background-size: 500px;
                background-repeat: no-repeat;
                background-position: center;
            }

            #countdown-container > #countdown.cd3 {
                background-image: url(/images/3-graphic.png);
                background-size: 500px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .countdown-number-text {
                font-size: 35rem;
            }

    </style>
</head>
<body class="bg-dark">
    
    @RenderBody()
    
    <script src="~/vendor.min.js"></script>

    <script>   
        const videoElement = document.querySelector('video');
        const videoSelect = document.querySelector('select#videoSource');
        function init() {
            $('#start-action-container').modal('show');

            $('#collapseContainer').collapse({
                toggle: false
            });

            $(window).on('keypress', function (event) {
                $('#btn-start').focus();
                start(event);
            });

            $('#btn-start').on('click', function (event) {
                start(event);
            });
            navigator.mediaDevices.enumerateDevices()
                .then(gotDevices).then(getStream).catch(handleError);

            videoSelect.onchange = getStream;
        }

        function start(event) {
            if (event.which === 32 || event.which === 1) {
                setTimeout(function () {
                    $('#start-action-container').modal('hide');
                    $('#take-photo-action-container').modal('show');
                    $(window).off('keypress');
                    $('#countdown-container')
                        .removeClass('hidden')
                        .append('<h1>Get Ready!</h1>');
                    setTimeout(function () {
                        $('#countdown-container > h1').addClass('slide-down');
                        takePhotoCountdown(1);
                    }, 1000);
                },1000);
            }
        }

        function takePhotoCountdown(photoNumber) {
            var numberText
            if (photoNumber === 1) {
                 numberText = 'first';
            }
            else if (photoNumber === 2) {
                 numberText = 'second';
            }
            else if (photoNumber === 3) {
                 numberText = 'third';
            }
            else {
                return;
            }
            setTimeout(function () {
                $('#countdown-container > h1')
                    .removeClass('slide-down');
                setTimeout(function () {
                    $('#countdown-container > h1')
                        .text('Taking ' + numberText + ' photo in...')
                        .addClass('slide-down');
                    setTimeout(function () {
                        $('#countdown-container > h1')
                            .removeClass('slide-down');
                        setTimeout(function () {
                            $('#countdown-container > h1')
                                .text('3')
                                .addClass('countdown-number-text')
                                .addClass('slide-number-down');
                            setTimeout(function () {
                                $('#countdown-container > h1')
                                    .text('2');
                                setTimeout(function () {
                                    $('#countdown-container > h1')
                                        .text('1');
                                    setTimeout(function () {
                                        $('#flash-container').removeClass('hidden');
                                    }, 1000);
                                    setTimeout(function () {
                                        $('#countdown-container > h1')
                                            .removeClass('countdown-number-text')
                                            .removeClass('slide-number-down');
                                        
                                        takePhoto(photoNumber);
                                    }, 1500);
                                }, 1500);
                            }, 1500);
                        }, 1500);
                    }, 2000);
                }, 500);
            }, 2500);
        }

        function collapsetest() {
            $('#collapseButtons').collapse('hide');
            $('#collapseEmail').collapse('show');
        }
        function update(stream) {
            document.querySelector('video').src = stream.url;
        }

        

        

        function gotDevices(deviceInfos) {
            for (let i = 0; i !== deviceInfos.length; ++i) {
                const deviceInfo = deviceInfos[i];
                const option = document.createElement('option');
                option.value = deviceInfo.deviceId;

                if (deviceInfo.kind === 'videoinput') {
                    option.text = deviceInfo.label || 'camera ' +
                        (videoSelect.length + 1);
                    videoSelect.appendChild(option);
                } else {
                    console.log('Found another kind of device: ', deviceInfo);
                }
            }
        }

        function getStream() {
            if (window.stream) {
                window.stream.getTracks().forEach(function (track) {
                    track.stop();
                });
            }

            const constraints = {
                video: {
                    deviceId: { exact: videoSelect.value }
                }
            };

            navigator.mediaDevices.getUserMedia(constraints).
                then(gotStream).catch(handleError);
        }

        function gotStream(stream) {
            window.stream = stream; // make stream available to console
            videoElement.srcObject = stream;
        }

        function handleError(error) {
            console.error('Error: ', error);
        }

        const screenshotButton = $('#screenshot-button')[0];
        const img = $('#screenshot img')[0];

        const canvas = document.createElement('canvas');


        function takePhoto(photoNumber) {
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            canvas.getContext('2d').drawImage(videoElement, 0, 0);
            var image = canvas.toDataURL("image/png");
            img.src = image;
            image = image.replace('data:image/png;base64,', '');

            $.ajax({
                type: 'POST',
                url: "?handler=SubmitPhoto",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify(image),
                contentType: 'application/json',
                success: function (response) {
                    $('#screenshot').removeClass('hidden');
                    $('#flash-container').addClass('hidden');
                    setTimeout(function () {
                        $('#screenshot').addClass('hidden');
                        
                        takePhotoCountdown(photoNumber += 1);

                        if (response >= 3) {
                            $('#exampleModalCenter').modal('show');
                        }
                    }, 5000)

                },
                error: function (response) {
                    alert('An error occured! Retake photo...');
                }
            });
        }

        function complete(option) {
            $.ajax({
                type: 'POST',
                url: "?handler=Complete",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify(option),
                contentType: 'application/json',
                success: function (response) {
                    alert('YAY!')
                },
                error: function (response) {
                    alert('Error... :(');
                }
            });
        }

        function handleSuccess(stream) {
            screenshotButton.disabled = false;
            videoElement.srcObject = stream;
        }

        init();
    </script>
</body>
</html>